.block {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  z-index: 2147483647;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  top: 0;
  left: 0;
}